fastapi==0.68.0
uvicorn==0.15.0
python-multipart==0.0.5
pillow==8.3.1
ultralytics==8.0.20
langchain-groq==0.0.2
langchain==0.0.27
langchain-community==0.0.9
faiss-cpu==1.7.2
python-dotenv==0.19.0
jinja2==3.0.1
pydantic==1.8.2
sentence-transformers==2.2.2
PyPDF2
